html,
body {
    font-family: "Raleway",
        sans-serif;
    font-size: 15px;
    line-height: 1.5;

    margin: 0px;
    text-align: center;
    background-color: black;
    color: white;
}

#buttonContainer {
    font-size: 0px;
    text-align: left;
}

.button {
    box-sizing: border-box;
    display: inline-block;
    width: 33.33%;
    border-radius: 25px;
    border: 10px solid #000;
    text-align: center;
    font-size: 20px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    background-color: #222;
}

.button-icon {
    display: block;
    width: 100%;
    font-size: 50px;
    height: 70px;
    overflow: hidden;
}

.button-label {
    display: block;
    width: 100%;
    font-size: 16px;
    height: 30px;
    padding-top: 5px;
    box-sizing: border-box;
    overflow: hidden;
}

#buttonF {
    float: right;
}

#buttonS .button-icon {
    transform: rotate(45deg);
}

/*  */
#f11 {
    width: 150px;
    display: block;
    margin: 10px auto 0 auto;
}

body {
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}